<nav>
   <div class="nav-full">
       <div class="site-title">
            <a href="/"><h1>Nathan's Tracker Thing</h1></a>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blogs/create">Create Event</a></li>
        </ul>
    </div>
</nav>