<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
   <%- include('./partials/nav.ejs') %>

    <div class="create-blog content">
        <form action="/blogs" method="POST">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title" required>
          <label for="snippet">Date:</label>
          <input type="date" id="snippet" name="snippet" placeholder="2021-03-02" required>
          <label for="etime">Choose a time for your meeting:</label>
          <input type="time" id="etime" name="etime" required>
          <!-- <input type="text" id="snippet" name="snippet" required> -->
          <label for="body">Description:</label>
          <textarea id="body" name="body" required></textarea>

          <button>Submit</button>
        </form>
      </div>


    <%- include('./partials/footer.ejs') %>

</body>
</html>